.carousel-container {
  max-width: fit-content;
  height: 420px;
  margin: 0 auto;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .carousel-container {
    max-width: 100%;
    height: auto;
  }
}
.container {
  display: flex;
}
.carousel {
  padding: 2rem;
}
.carousel {
  display: none;
}
.carousel div.active {
  display: block;
}

.dropMenu:hover {
  display: block;
}
.allCategories:hover + div {
  display: block;
  /* text-decoration: underline; */
}

@media only screen and (max-width: 1350px) {
  #navbar-sticky {
    display: none;
  }
  .my-navbar {
    width: 90vw;
  }
  .threeLines {
    display: block;
  }
}
